.main{
    min-height: 100vh;
    text-align: center;
    
}
.result-container{
    height: 60vh;
    text-align:start;
    overflow: auto;
    margin: auto;
    width: fit-content;
}
.input-search[type=text]{
    border-radius: 8px;
    font-size: 1em;
    border: 1px solid grey;
    transition: all 0.5s;
    padding: 10px;
    width: 300px;
}
.input-search[type=text]:focus{
    border: 2px solid #0dcaf0 !important;
    outline: none;
    box-shadow: 0px 5px 5px 0px #bcb9b9;
}
.result-card{
    width: 200px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
}
.result-card:hover{
    filter: brightness(90%)
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 50%;
}

.form-row{
    margin-top: 40px;
    grid-template-rows: 1fr 1fr;
}

.form-input{
    margin-top: 10px
}
select{
    border-radius: 8px;
    font-size: 1em;
    border: 1px solid grey;
    transition: all 0.5s;
    padding: 10px;
    width: 300px;
}
select:focus{
    border: 2px solid #0dcaf0 !important;
    outline: none;
    box-shadow: 0px 5px 5px 0px #bcb9b9;   
}
